<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SHIFT</title>
  <link rel="stylesheet" href="../../static/css/style.css">
  <link rel="stylesheet" href="../../static/css/navbar.css">
</head> 
<body>  
  <div class="header">
      <div class="header-container">
        <div class="logo">
          <a href="#">
            <img src="../../static/images/Logo.svg">
          </a>
        </div>
        <div class="navbar">
          <ul class="navbar-link">
            <li><a href="/">소개</a></li>
            <li><a href="/">shift를 해야하는 이유</a></li>
            <li><a href="/">시작하기</a></li>
            <li><a>|</a></li>
          </ul>
          <a class="signin" href="/">로그인</a>
          <a class="signup" href="/">회원가입</a>
        </div>
      </div>
  </div>
</body>
</html> 