.headerContainer {
  background: #9C76AC;
  width: 100%;
  height: 2.5rem;
  display: flex;

  @media only screen and (min-width: 1024px) {
    // PC
    width: 40vw;
    margin: 0 auto;
  }

  .headerLeft {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    float: left;

    img {
      display: flex;
      align-self: center;
      width: 5rem;
      height: auto;
      cursor: pointer;
    }
  }

  .headerRight {
    margin-left: auto;
    margin-right: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .headerName {
      display: flex;
      align-items: center;
      margin-right: 0.8rem;

      span {
        color: #FFF;
        font-weight: 700;
        font-size: 0.8rem;
        letter-spacing: 0.03rem;
      }
    }

    .headerBtnContainer {
      display: flex;
      align-items: center;
      flex-direction: column;
      
      img {
        width: 1.3rem;
        height: auto;
      }
    }
  }
}

.hamburgerBackground{
  width: 100%;
  height: 100%;
  box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
  z-index : 100;
}