* {
  margin: 0;
  padding: 0;
}

span, input {
  font-family: "Wanted Sans Variable", "Wanted Sans", -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-style: normal;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

#Container {
  display: flex;
  flex-direction: column;
}

#infoTitle {
  color: #1A1A1A;
  text-align: center;
  font-size: 0.84rem;
  font-weight: 650;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
}

// Social Login
.socialContainer {
  height: calc(100vh - 2.5rem);
  background: linear-gradient(180deg, #FFF 3.11%, #d4d4d4 93.37%);

  .socialWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6.3rem;

    .socialLogo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      .socialIconImg {
        width: 8.6rem;
        height: auto;
      }

      .socialLogoImg {
        width: 9.5rem;
        height: auto;
      }
    }

    .socialDes {
      display: flex;
      flex-direction: column  ;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;

      span {
        text-align: center;
        font-weight: 500;
        font-size: 1rem;
        line-height: 160%;
      }

    }
  }
}

.kakaoLoginBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.3rem;

  button {
    margin: 0 auto;
    width: 15rem;

    img {
      height: auto;
      width: 100%;
    }
  }
}