/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  height: 100%;
}

/* Body Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  height: 100%;
} 

.wrap {
  min-height: 100%;
  position: relative;
}

#content {
  padding-bottom: 330px;
}

footer {
  position: absolute;
  bottom: 0;
}
