@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@media screen and (max-width: 1240px) {
  html {
    width: 100%;
    height: 100%;
  }
  body {
    width: 100%;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard', sans-serif;
} 
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
ul {
  display: block;
  list-style-type: none;
}
/* header */
.header {
  background-color: #fff;
  width: 100%;
  height: 3.75rem;
  display: flex;
}
.header-container {
  background-color: #fff;
  width: 71.25rem;
  position: relative;
  margin: 0 auto;
  flex-shrink: 0;
}
.logo {
  position:absolute;
  display: block;
  float: left;
  margin-top: 1.19rem;
  margin-left: 3.25rem;
  margin-bottom: 1.06rem;
}
.navbar {
  background-color: #fff;
  display: flex;
  float: right;
  height: 100%;
  margin-right: 5rem;
  flex-shrink: 0;
}
.navbar-link {
  display: flex;
  margin: 1.31rem 0;
  align-items: center;
  flex-shrink: 0;
}
.navbar-link li{
  vertical-align: middle;
  margin-left: 1rem;
}
.navbar-link li a {
  color: #000;
  text-align: center;
  font-family: 'Pretendard', sans-serif;
  font-style: normal;
  font-size: 0.6rem;
  font-weight: 400;
  text-decoration-line: none;
  line-height: 1.375rem;
}
.signin {
  display: flex;
  margin: 1.31rem 1.12rem 1.06rem 1.31rem;
  color: #000;
  text-align: center;
  font-family: 'Pretendard', sans-serif;
  font-style: normal;
  font-size: 0.6rem;
  font-weight: 400;
  text-decoration-line: none;
  line-height: 1.375rem;
}
.signup {
  width: 3.75rem;
  height: 1.625rem;
  margin-top: 1.19rem !important;
  margin-bottom: 0.94rem !important;
  padding: 0.25rem 0.75rem;
  display: block;
  flex-direction: column;
  border-radius: 61.25rem;
  border: none;
  outline: none;
  background-image: linear-gradient(0deg, #9c76ac 6.00%, #7d6faa 100%);

  color: #fff;
  font-family: 'Pretendard', sans-serif;
  font-size: 0.6rem;
  font-weight: 400;
  text-decoration-line: none;
  line-height: 1rem;
  flex-shrink: 0;
}