/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Styling */
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding-top: 50px;
  }
  
  /* Heading Styling */
  h1 {
    color: #333;
  }
  
  /* Button Container Styling */
  p {
    margin-top: 20px;
    font-size: 16px;
    color: #666;
  }
  
  /* Social Button Styling */
  a {
    display: inline-block;
    margin: 10px;
  }
  
  .social-login {
    max-width: 1200px;
  }
  /* Set a fixed width and height for both buttons */
  .kakao-button, .naver-button {
    width: 200px;
    height: 40px;
  }
  
  /* Add a common class for button styling */
  .social-button {
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  /* Apply the common styling to both buttons */
  .kakao-button img {
    width: 100%;
    height: 100%;
  }
  .naver-button img {
    width: 50%;
    height: 50%;
  }
  
  /* Hover effect */
  .social-button:hover {
    transform: scale(1.05);
  }
  