<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>shift</title>
  <link rel="stylesheet" href="../../../static/css/SD.css">
  <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/SD.css')}}"/> -->
</head>
<body>
  <div class="header">
    <div class="header-contents">
      <div class="header-logo" id="logo">
        <a href="#">
          <img src="../../../static/images/shift_white.svg">
          <!-- <img src="{{ url_for('static'), filename="images/shift_white.svg") }}" -->
        </a>
      </div>
      <!-- BE에서 username 받아오기 -->
      <div class="username" id="username">{{ username }}</div>
    </div>
  </div>
</body>
</html>