* {
  margin: 0;
  padding: 0;
}


button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#Container {
  width: 100%;
  height: calc(100vh - 3rem);
  display: flex;
  flex-direction: column;
}

#infoTitle {
  color: #1A1A1A;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 1.3rem;
}