.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modalWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28.4375rem;
  //height: 17rem;
  border-radius: 1.4375rem;
  background-color: #fff;
  height: fit-content;
  box-shadow: 0rem 0.4rem 1.0rem 0px rgba(0, 0, 0, 0.25);
}

.modalTitle {
  height: 3rem;
  text-align: left;
  margin-top: 1.3rem;
  margin-left: 2rem;

  span {
    color: #000;
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.modalContent {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0 auto;
  padding-bottom: 1.5rem;

  span {
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
  }

  button {
    margin: 0 auto;
    height: 3rem;
    align-items: center;
    width: 7rem;
    border: none;
    border-radius: 4.375rem;
    background-color: #9C76AC;

    span {
      color: #fff;
      text-align: center;
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
}

.whiteBtn {
  margin-right: 0.5rem !important;
  border: 1px solid #9C76AC !important;
  background-color: #fff !important;

  span {
    color: #2d63a4 !important;
  }
}

.closeBtnBox {
  margin-top: 1.5rem;
  display: flex;
  float: right;
  width: 2rem;
  height: 2rem;

  .closeBtn {
    position: fixed;
    right: 2rem;
    border: none;
    background-color: transparent;

    img {
      width: 1.3rem;
      height: 1.3rem;
    }
  }
}

.modalBtnBox {
  margin-top: -0.3rem;

  .btnBlank {
    border: 1px solid #87deff;
    background-color: #fff;
    border-radius: 1.6rem;
    width: 8rem;
    height: 3rem;

    span {
      font-size: 1.2rem;
      font-weight: 700;
      color: #87deff;
    }
  }

  .btnFilled {
    border: none;
    background-color: #87deff;
    border-radius: 1.6rem;
    margin-right: 1.4rem;
    width: 8rem;
    height: 3rem;

    span {
      font-size: 1.2rem;
      font-weight: 700;
      color: #fff;
    }
  }
}

.btnFilled {
  border: none;
  background-color: #87deff;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  margin-right: 2rem;

  img {
    padding-top: 0.5rem;
    width: 2rem;
    height: 2.2rem;
  }
}