.sideBarWrapper {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;

  .sideBarContainer {
    width: 22.5rem;
    height: 100vh;
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    padding-top: 1rem;

    .sideBarBox {
      width: 19.375rem;
      height: fit-content;
      background-color: #FFF;
    }

    &.hidden {
      display: none;
    }
  }

  .sideBarBtn {
    display: flex;
    align-items: center;
    height: 100vh;

    button {
      display: flex;
      background-color: transparent;

      img {
        width: 2.6875rem;
        height: 3.0625rem;
      }
    }
  }
}

.sideBarContentBox {
  background-color: #FFFEFE;
  border-radius: 0.5rem;
  border: 1px solid #EEE;
  height: fit-content;
  width: 19.375rem;

  .mainTitleBox {
    border-bottom: 2px solid #EEEEEE;
    display: flex;
    height: 4rem;
    align-items: center;
    padding-left: 1.19rem;

    img {
      width: 3.5rem;
      height: 3.5rem;
    }

    .mainTitle {
      margin-left: 0.7rem;
      font-size: 1.0625rem;
      color: #424242;
      font-weight: 700;
      letter-spacing: 0.014rem;
    }
  }

  .subTitleBox { 
    height: fit-content;

    .subTitle {
      height: 3.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      font-weight: 600;
      color: #424242;
      border-bottom: 2px solid #EEEEEE;   
    }

    .sideBarContentListBox {

      
      .sideBarContent {
        height: 3.12rem;
        border-bottom: 1px dashed #EAE7E7;

        &:hover {
          border-left: 2px solid #8b738bAB;
        }

        &:active {
          border-left: none;
        }

        .sideBarContentWrap {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          border-radius: 0.4rem;

          &:hover {
            background-color: #E4DBE9;

            img {
              margin-left: 1.5rem;
            }

            span {
              color: #7C5096;
            }
          }

          &:active {
            border: 1.5px solid #A570C4;
            background-color: #E7E7E7;
            
            span {
              color: #424242;
            }
          }
        }
        
        img {
          margin-left: 1.62rem;
          width: 1.5rem;
          height: 1.4rem;
        }

        .contentTitle {
          width: 100%;
          display: flex;
          justify-content: center;
          text-decoration: none;
          margin-left: -1.62rem;

          span {  
            color: #424242;
            font-size: 0.82rem;
            font-weight: 600;
          }
        }
      } 
    }
  }
}

.sideBarLinkTree {
  height: 4rem;
  margin-top: 1.69rem;
  color: #6c6c6c;
  font-size: 0.5625rem;
  font-weight: 500;
}

.sideBarBottom {
  margin-bottom: 1.06rem;
  font-weight: 500;
  font-size: 0.5rem;
  color: #000;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev, 
.swiper-button-next {
  background-color: #A570C4;
  width: 0.4rem !important;
  height: 0.4rem !important;
  top: 2.67rem !important;
  border-radius: 2rem;
}

.swiper-button-prev {
  margin-left: 0.8rem;
}

.swiper-button-next {
  margin-right: 0.8rem;
}