
  #SHWrap {
    width: 71.2rem;
    margin: 0 auto;

    #SHContainer {
      width: 62rem;
      margin: 0 auto;

      .SHProfile {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 7.514rem;
        margin: 0 auto;
        border-bottom: 1px solid #e6e6e6;
      }
    }
  }

  .SHProfileLeft {
    width: 35%;
    float: left;
    display: flex;

    .userProfileImg {
      width: 4.7rem;
      height: 4.7rem;
      border: 2px solid #ccafd9;
      border-radius: 5rem;
      z-index: 1;
      margin-top: 1.3rem;
      
      img {
        width: 100%;
        height: 100%;
        border-radius: 5rem;
      }
    }

    .userProfileBox {
      align-items: center;
      margin-left: 1.3rem;
      margin-top: 2rem;
      display: flex;

      .userName {
        justify-content: center;
        color: #000;
        font-size: 1.1rem;
        font-weight: 400;
      }
    
      .userNameModifyBtn {
        display: flex;
        width: 1.25rem;
        height: 0.784rem;
        align-items: center;
        justify-content: center;
        margin-left: 0.5rem;
        background-color: white;
      }
    }

    .dropDownBox {
      margin-top: 0.75rem;
    }
  }

  .SHProfileRight {
    width: 25%;
    display: flex;
    margin-top: 1.5rem;
    flex-direction: column;
    float: right;

    .SHBtnBox {
      display: flex;
      margin-left: 1.4rem;
      margin-top: 0.65rem;

      button {
        width: 6.0625rem;
        height: 2.5rem;
        border-radius: 2.125rem;
        flex-shrink: 0;
      }
      
      .SHBtnPurple {
        margin-right: 0.37rem;
        background-color: #c185e1;
        color: white;
        font-weight: 600;
        font-size: 0.75rem;
        letter-spacing: 0.0375rem;
      }

      .SHBtnWhite {
        background-color: #e7e7e8;
        color: #828282;
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 0.0375rem;
      }
    }

    .lastModifiedDate {
      display: flex;
      margin-top: 1rem;
      margin-right: 2rem;
      justify-content: end;

      span {
        color: #818181;
        font-weight: 400;
        font-size: 0.6875rem;
      }
    }
  }

  .SHProgressTextBox {
    width: 100%;
    height: 6rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    .SHProgressText{
      margin-left: 2rem;
      width: 7rem;
      height: 100%;
      display: flex;

      button {
        background-color: white;
        width: 5.135rem;
        height: 100%;
        color: #e2e2e2;
        font-size: 4rem;
        font-weight: 700;
        line-height: 3rem;
        margin: 0 auto;
        cursor: pointer;

        &:hover {

        }
      }

      img {
        display: flex;
        padding-top: 1rem;
        height: 3.25rem;
      }
    }
  }

  .SHProgressContentBox {
    width: 96%;
    height: 36rem;
    margin-top: 2rem;
    overflow-y: scroll;
    border: 2px solid #eee;
    border-radius: 1.0625rem;

    &::-webkit-scrollbar {
      width: 1.125rem;
      background-color: #f5f5 f5;
      border-radius: 0.75rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 0.75rem;
      background-color: #cdb0d9;
    }
  }

  .SHProgressContentS {
    width: 52rem;
    height: 30rem;
    margin: 1.5rem auto 1.69rem;

    .SHProgressTitle {
      width: 100%;
      height: 4.5rem;
      display: flex;
      flex-direction: column;
      border-bottom: 0.12rem solid #f4f4f4;  
      
      .SHProgressTitleMain {
        color: #a46aad;
        font-size: 2.25rem;
        font-weight: 600;
        letter-spacing: -0.02;
        display: flex;
        justify-content: start;
        margin-left: 0.56rem;
      }

      .SHProgressTitleLink {
        display: flex;
        justify-content: end;
        color: #a570c4;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0.62rem;
      }
    }

    .SHProgressSubTitleS {
      width: 100%;
      height: 3rem;
      display: flex;
      padding-left: 1rem;
      border-bottom: 0.12rem solid #f4f4f4;

      .SHProgressSubTitleSSpan {
        display: flex;
        align-items: center;
        color: #242426;
        font-size: 0.81rem;
        font-weight: 600;
        justify-content: center;
      }
    }

    .SHProgressDetailBox {
      width: 55rem;
      height: 26.5rem;

      .SHProgressDetailBoxColored {
        width: 100%;
        height: 100%;
        background-color: #ccafd9;
        background-image: url(../images/Background.svg);

        display: grid;
        padding-top: 1rem;
        padding-right: 1.6rem;
        grid-template-rows: 5rem 2rem 2rem 2rem 2rem;
        grid-template-columns: repeat(5, 1fr);
        row-gap: 2.41rem;

        grid-template-areas: 
        'mainSD mainSD mainSD mainSD mainSD'
        'subSDB subSDC subSDD subSDE subSDF'
        'subSDB subSDC subSDD subSDE subSDF'
        'subSDB subSDC subSDD subSDE subSDF'
        'subSDB subSDC subSDD subSDE subSDF'
        ;
      }     
    }
  }

  .mainSD {
    margin-left: 1rem;
    width: 6rem;
    height: 6rem;
  }

  .SHProgressBarBox {
    display: flex;
    width: 60rem;
    margin: 2.7rem 9rem 0;

    span {
      font-size: 1.25rem;
      font-weight: 400;
    }

    .SHProgressBar {
      width: 40rem;
      height: 1.125rem;
      margin-top: 0.3rem;
      margin-left: 1.19rem;
      background-color: #f5f5f5;
      border-radius: 0.75rem;
    }
  }

  .subSD {
    display: flex;
    align-items: center;
    justify-content: center;
    
    span {
      margin-left: 0.5rem;
      color: #4b4a4b;
      font-size: 0.8125rem;
      font-weight: 500;
    }
  }

  .subSDB {
    margin-left: -2.4rem;
  }

  .subSDC {
    margin-left: -1rem;
  }

  .subSDD {
    margin-left: 1.6rem;

    span {
      font-size: 0.78rem;
    }
  }

  .subSDE {
    margin-left: 1.8rem;

    span {
      font-size: 0.78rem;
    }
  }

.subSDF {
  margin-left: 2rem;
}

.SHProgressContentH {
  width: 96%;
  height: 30rem;
  background-color: red;
}

.SHProgressContentI {
  width: 96%;
  height: 30rem;
  background-color: orange;
}

.SHProgressContentF {
  width: 96%;
  height: 30rem;
  background-color: yellow;
}

.SHProgressContentT {
  width: 96%;
  height: 30rem;
  background-color: green;
}

.activeButton {
  line-height: 3rem;
  padding-top: 0.4rem;
  border-bottom: 0.4rem solid #9c76ac;
  
  span {
    color: #9c76ac;
  }
}
