<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SHIFT</title>
  <link rel="stylesheet" href="../../../../static/css/SD.css">
  <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/SD.css')}}"/> -->
  <script src="../../../../static/js/SD.js"></script>
  <!-- <script src="{{url_for('static', filename='js/SD.js')}}" -->
</head>
<body>
  <!-- {% include 'SD-header.html' %} -->
  <div class="SD-container">
    <div class="SD-header">
      <div class="SD-main-title">
        <p>Self-questioning: 동기</p>
      </div>
      <div class="SD-subtitle">
        <!-- {% if 페이지 진행률 100% 일 때 %} -->
        <img id="progressCheck" src="../../../../static/images/course_complete.svg" style="display: none;">
        <!-- <img src="{{ url_for('static'), filename="images/course_complete.svg") }}" -->
        <!-- {% else} -->
        <img id="progressCheck" src="../../../../static/images/course_ing.svg" >
        <!-- <img src="{{ url_for('static'), filename="images/course_ing.svg") }}" -->
        <p>Glasser 욕구 강도 프로파일</p>
      </div>
    </div>
    <div class="SD-content">
      <!-- 질문 받아오기 -->
      <div class="SQ-question">
        <p>{{돈이나 물건을 절약합니까?}}</p>
        <div class="SQ-radios">
          <!-- label로 구분 -->
          <label for="question1_1" class="strongly_disagree" aria-label="strongly disagree">
            <input id="mbti-question" type="radio" id="question1_1">
            <span>
              <i class="fa fa-check"></i>
            </span>
          </label>
          <label for="question1_2" class="disagree" aria-label="disagree">
            <input id="mbti-question" type="radio" id="question1_2">
            <span>
              <i class="fa fa-check"></i>
            </span>
          </label>
          <label for="question1_3" class="strongly_disagree" aria-label="strongly disagree">
            <input id="mbti-question" type="radio" id="question1_3">
            <span>
              <i class="fa fa-check"></i>
            </span>
          </label>
          <label for="question1_4" class="strongly_disagree" aria-label="strongly disagree">
            <input id="mbti-question" type="radio" id="question1_4">
            <span>
              <i class="fa fa-check"></i>
            </span>
          </label>
          <label for="question1_5" class="strongly_disagree" aria-label="strongly disagree">
            <input id="mbti-question" type="radio" id="question1_5">
            <span>
              <i class="fa fa-check"></i>
            </span>
          </label>       
        </div>
      </div>
    </div>
  </div>
</body>
</html>