.cgContainer {
  display: flex;

  .cgImgWrapper {
    margin-top: 3.55rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 4.74rem;
      height: 4.74rem;
    }

    span {
      margin-top: 1rem;
      font-size: 1.687rem;
      font-weight: 700;
      letter-spacing: 0.04rem;
      background: linear-gradient(180deg, #9C76AC 0%, #A984BA 100%);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
    }
   }

  .cgInfoWrapper{
    margin: 0 auto;
    display: grid;
    grid-template: repeat(2, 1fr)/ repeat(2, 1fr);
    gap: 0.3rem;

    .cgInfoBox {
      width: 10.1rem;
      height: 8.31rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #DCD1FC;
      border-radius: 0.7rem;

      .cgInfoBoxSubTitle {

        span {
          font-size: 0.5rem;
          font-weight: 600;
          color: #4C4C4C;
          letter-spacing: 0.03rem;
        }
      }

      .shInfoBoxMainTitle {

        span {
          font-size: 0.84rem;
          font-weight: 700;
          letter-spacing: 0.04rem;
          color: #7D6FAA;
        }
      }
    }
  }
  
  .cgLinkBtn {
    margin: 2.7rem auto 0;
    border-radius: 3.9rem;

    span {
      font-size: 0.928rem;
      font-weight: 500;
      color: #FFF;
      letter-spacing: 0.03rem;
    }

  }
}

@media (min-height: 910px) and (max-height: 915px) {
  .cgInfoWrapper {
    margin-top: 4rem !important;
  }

  .cgLinkBtn {
    margin-top: 8rem !important;
  }
}

@media (max-width: 319px) {
  .cgContainer {
    height: 100% !important;
    overflow: scroll !important;
  }

  .cgInfoWrapper {
    grid-template-rows: repeat(4, 1fr) !important;
    grid-template-columns: none !important;
    padding-bottom: 1.3rem;
  }

  .cgLinkBtn {
    margin-top: 0.1rem !important;
    height: 3.2rem !important;
    margin-bottom: 2rem !important;
  }
}