.landingContainer {
  background: linear-gradient(180deg, #9C76AC -26.65%, #B287C5 127.01%);
  height: 100vh !important;

  .logoContainer {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    align-self: center;

    .landingLogo {
      img {
        width: 8.5rem;
        height: 8.5rem;
      }
    }

    .landingTitle {
      margin-top: 1.4rem;

      img {
        width: 11rem;
        height: 2.2rem;
      }
    }
  }

  .landingSpan {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: #FFF;
    }
  }
}