.odWrapper {
  height: 100%;
  margin-top: 5rem;
  margin-bottom: 2rem;

  .odTitleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;

    .odTitleTop {
      display: flex;
      justify-content: center;
      margin-bottom: -0.9rem;
    }

    .odTitlePurple {
      text-transform: uppercase;
      color: #A570C4;
      font-size: 1.13rem;
      font-weight: 800;
    }

    .odTitleBlack {
      color: #000;
      font-size: 1.13rem;
      font-weight: 800;
      text-align: center;
    }
  }

  .odInputWrapper {
    width: 19rem;
    margin: 4.6rem auto 0;
    display: flex;
    flex-direction: column;

    .odInputTop {
      display: flex;
      justify-content: flex-start;
      text-transform: uppercase;
      font-size: 0.875rem;
      font-weight: 600;
      color: #000;
      letter-spacing: 0.14rem;
    }

    .odInputMiddle{
      height: 1.5rem;
      border: none;
      border-bottom: 0.5px solid #000 !important;
      padding-bottom: 0.3rem;

      font-size: 1.3rem;
      font-weight: 500;
      letter-spacing: 0.12rem;
      text-align: center;

      &::placeholder {
        color: #CCC;
        font-size: 1.3rem;
        font-weight: 500;
        text-align: center;
        letter-spacing: 0.12rem;
        font-family: 'Wanted Sans', sans-serif;
      }
    }

    .odInputBottom {
      display: flex;
      justify-content: flex-end;
      font-size: 0.875rem;
      font-weight: 600;
      letter-spacing: 0.14rem;
    }
  }

  .odExContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 4rem;

    .odExWrapper {
      display: flex;
      flex-direction: column;
      
      .odExTitle {
        margin-bottom: 0.7rem;   
        
        span {
          color: #9E9E9E;
          font-size: 0.71rem;
          font-weight: 600;
          letter-spacing: 0.06rem;
          text-align: left;
        }
      }

      .odExBox {
        display: flex;
        flex-direction: column;
        padding: 1rem 0.8rem 0; 
        width: 18rem;
        height: 6rem;
        border: 1px solid #C7BDDE;
        border-radius: 0.3rem;

        .odSpanBlack {
          color: #000;
          font-size: 0.735rem;
          font-weight: 600;
          letter-spacing: 0.09rem;
          line-height: 220%;
          text-align: left;
        }

        .odSpanPurple {
          color: #A570C4;
          font-size: 0.7835rem;
          font-weight: 700;
          letter-spacing: 0.07rem;
          line-height: 220%;
        }
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .odInputWrapper {
    width: 80% !important;
  
    .odInputMiddle {
      font-size: 0.96rem !important;

      &::placeholder {
        font-size: 0.96rem !important;
      }
    }
  }

  .odExContainer {
    .odExBox {
      margin: 0 auto;
      padding: 0.3rem 0.8rem 0 !important;
      width: 80% !important;

      .odSpanBlack {
        font-size: 0.6rem !important;
      }

      .odSpanPurple {
        font-size: 0.6rem !important;
      }
    }
  }
}