.reContainer {
  margin: 0 auto;
  
  .reWrapper {
    margin: 3rem 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;

    .reTitleWrapper {
      margin-bottom: 1rem;

      .reMainTitle {
        span {
          text-align: left;
          line-height: 2.3rem;
        }
  
        .reTitleBlack {
          font-size: 1.35rem;
          font-weight: 600;
          color: #1A1A1A;
        }
  
        .reTitlePurple {
          font-size: 1.35rem;
          font-weight: 600;
          color: #A570C4;
        }
      }

      .reSubTitle {
        margin-top: 0.72rem;

        span {
          color: #ACACAC;
          font-weight: 700;
          font-size: 0.825rem;
          letter-spacing: 0.07rem;
        }
      }
    }

    .reReasoningBox {
      
      .reKeywordBtn {
        background-color: #FFF;
        margin-top: 1rem;
        padding: 0.2rem 1.5rem 0.2rem 1.5rem;
        width:fit-content;
        height: 1.75rem;
        border: 1px solid #9965B8;
        border-radius: 1.3rem;

        span {
          color: #2D2D2D;
          font-size: 0.72rem;
          font-weight: 600;
        }

        &.toggleActive {
          background: linear-gradient(180deg, #9F78AF 0%, #A97FBA 100%);

          span {
            color: #FFF;
          }
        }

        &.reasonFilled {
          background: linear-gradient(180deg, #9F78AF 0%, #A97FBA 100%);
          
          span {
            color: #FFF;
          }
        }
      }

      .reKeywordReasonInputBox {
        margin-top: 1.2rem;
        margin-bottom: 3.8rem;
        width: 16rem;
        height: 3rem;

        textarea {
          padding: 0.6rem 1rem;
          resize: none;
          width: 100%;
          height: 5rem;
          border: 1px solid #B2A8B7 ;
          border-radius: 1.3rem;
          overflow: scroll;

          font-size: 0.7rem;
          font-weight: 400;
          color: #333;
          font-family: 'Wanted Sans', sans-serif;

          &::-webkit-scrollbar {
            display: none;
          }

          &:focus {
            outline: none;
          }
          
        }
      }
    }
  }
}

@media screen and (max-width: 300px){
  .reTitleBlack {
    font-size: 1.2rem !important;
  }

  .reTitlePurple {
    font-size: 1.2rem !important;
  }
  
  .reKeywordReasonInputBox {
    textarea {
      width: 70% !important;
    }
  }
  
}