.sgContainer {
  height: calc(100vh - 2.5rem);
  background: linear-gradient(180deg, #FFF 3.11%, #EDEDED 103.37%);

  .sgWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .sgTitleWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .sgTitleBlack {
        color: #252525;
        font-size: 1.66rem;
        font-weight: 700;
        letter-spacing: 0.175rem;
        text-align: center;
      }

      .sgTitlePurple {
        color: #9C76AC;
        font-size: 2.84rem;
        font-weight: 700;
        letter-spacing: 0.23rem;
        line-height: 6.5rem;
        text-transform: uppercase;
      }
    }

    .sgButtonWrapper {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .sgStartBtn {
        border-radius: 5.5rem;
        
        span {
          color: #FFF;
          font-size: 1.54rem;
          font-weight: 700;
          letter-spacing: 0.157rem;
        }
      }
      
      .sgBtnSpan {
        margin-top: 2.5rem;
        font-size: 1.1rem;
        letter-spacing: 0.084rem;
        font-weight: 700;
        background-image: linear-gradient(90deg, #CFC8D2 0%, #9C76AC 50%, #CFC8D2 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
  }
  
  .sgFooter {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 0.98rem;

    span {
      color: #CDCDCD;
      text-align: center;
      font-size:  1.3rem;
      font-weight: 600;
    } 
  }
}

@media (max-width: 319px) {
  .sgWrapper {
    margin-top: 8rem !important;
  }

  .sgTitleBlack {
    font-size: 1.2rem !important;
  }

  .sgTitlePurple {
    font-size: 2.5rem !important;
  }

  .sgBtnSpan {
    font-size: 0.923rem !important;
  }

  .sgFooter {
    span {
      font-size: 1.1rem !important;
    }
  }
}
