.sgContainer {
  background: linear-gradient(180deg, #FFF 3.11%, #d4d4d4 93.37%);
  overflow: scroll;


  .sgWrapper {
    margin-top: 10.2rem;
    display: grid;
    grid-template-rows: 1fr 1.5fr 0.3fr;
    justify-content: center;
    align-items: center;

    .sgTitleWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .sgTitleBlack {
        color: #252525;
        font-size: 1.66rem;
        font-weight: 700;
        letter-spacing: 0.175rem;
        text-align: center;
      }

      .sgTitlePurple {
        color: #9C76AC;
        font-size: 2.84rem;
        font-weight: 700;
        letter-spacing: 0.23rem;
        line-height: 6.5rem;
      }
    }

    .sgButtonWrapper {
      margin-top: -1.23rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .sgStartBtn {
        border-radius: 5.5rem;
        
        span {
          color: #FFF;
          font-size: 1.54rem;
          font-weight: 700;
          letter-spacing: 0.157rem;
        }
      }
      
      .sgBtnSpan {
        margin-top: 1.2rem;
        font-size: 1.1rem;
        font-weight: 700;
        letter-spacing: 0.084rem;
        background: linear-gradient(270deg, #AF8BBF -16.36%, #82678D 130.86%);
        color: transparent;
        -webkit-background-clip: text;
      }
    }
  }
  
  .sgFooter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 0 auto 0.9rem;
    position: absolute;
    bottom: 0;

    span {
      color: #282828;
      text-align: center;
      font-size:  1.3rem;
      font-weight: 600;
    } 
  }
}

@media (max-width: 319px) {
  .sgWrapper {
    margin-top: 8rem !important;
  }

  .sgTitleBlack {
    font-size: 1.2rem !important;
  }

  .sgTitlePurple {
    font-size: 2.5rem !important;
  }

  .sgBtnSpan {
    font-size: 0.923rem !important;
  }

  .sgFooter {
    span {
      font-size: 1.1rem !important;
    }
  }
}
