.ihWrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .ihInputName {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .ihUserName {
      border: none;
      text-align: center;
    }
  }

  .ihInputGender {
    margin-top: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ihInputAge {
    margin-top: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ihPushAgree {
    margin-top: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .ihPushAgreeDescription {
      text-align: center;
      padding-bottom: 1rem;
    }

    .ihPushAgreeNotice {
      margin-top: 1.2rem;
    }
  }
}