.inputInfoWrapper {
  margin-top: 8.94rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .inputInfoBox {
    width: 80%;

    .inputInfoTitle {
      display: flex;
      justify-content: start;
    
      span {
        color: #191F28;
        font-size: 1.75rem;
        font-weight: 700;
      }
    }    

    .inputBox {
      margin-top: 2rem;
      position: relative;
    }
  
    .genderRadio {
      margin-top: 2.96rem;
      width: 19.45rem;
      height: 4.856rem;

      img {
        width: 3.325rem;
        height: 3.325rem;
      }
    }
  }
}