.ihWrapper {
  margin-top: 2.34rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .ihTitle {
    margin-bottom: 1.56rem;

    span {
      color: #9B76AB;
      text-align: center;
      font-size: 1.35rem;
      font-weight: 700;
      letter-spacing: 0.11rem;
    }
  }

  .ihInputName {
    display: flex;
    flex-direction: column;

    input {
      margin-top: 0.7rem;
      text-align: center;
      width: 14.95rem;
      height: 2.19rem;
      border-radius: 0.45rem;
      border: none;

      &::placeholder {
        font-size: 0.94rem;
        font-weight: 600;
        color: #E8E8E8;
        letter-spacing: 0.19rem;
      }
    }
  }

  .ihInputGender {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      margin-bottom: 1.1rem;
    }
  }

  .ihInputAge {
    margin-top: 1.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      margin-bottom: 1.2rem;
    }
  }

  .ihPushAgree {
    margin-top: 1.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;

   .ihPushAgreeDescription {
    margin-top: 0.6rem;
    text-align: center;
    color: #909090;
    font-size: 0.69rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    line-height: 190.5%;
    margin-bottom: 0.7rem;
  }

  .ihPushAgreeNotice {
    margin-top: 1.3rem;
    color: #9B76AB;
    text-align: center;
    font-size: 0.675rem;
    font-weight: 600;
    letter-spacing: 0.07rem;
  }
  }
}

@media screen and (max-width: 300px) {
  .ihInputName {
    input::placeholder {
      font-size: 0.8rem !important;
    }
  }
}

@media screen and (min-height: 800px) {
  .ihWrapper {
    margin-top: 5rem;
  }
}