.miContainer {
  margin-top: 2.6rem;

  .idTitle {
    margin: 0 auto;

    .idTitleTop {
      display: flex;
      justify-content: center;
      align-items: center;

      .idTitleUserName {
        color: #A570C4;
      }
    }

    .idTitleBottom {
      display: flex;
      justify-content: center;
      align-items: center ;
    }
  }

  .keywordBox {
    margin-top: 2rem;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);

    .keywordBtnBox {

      .keywordBtn {
        border: 1px solid #D3D3D3;
        border-radius: 0.5rem;
      }
    }


  }

}