.miContainer {
  margin-top: 2.6rem;

  .idTitle {
    margin: 0 auto;

    .idTitleTop {
      display: flex;
      justify-content: center;
      align-items: center;

      .idTitleUserName {
        color: #A570C4;
      }
    }

    .idTitleBottom {
      display: flex;
      justify-content: center;
      align-items: center ;
    }
  }
}