.miContainer {
  margin-top: 2.6rem;
  height: 100%;
  margin-bottom: 5rem;

  .idTitle {
    margin: 0 auto;

    .idTitleTop {
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-size: 1.09rem;
        letter-spacing: 0.03rem;
      }

      .idTitleUserName {
        color: #A570C4;
        text-transform: uppercase;
        margin-top: -0.03rem;
        font-weight: 700;
      }

      .idTitleSpan {
        color: #000;
        font-weight: 600;
      }
    }

    .idTitleBottom {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 0.7rem;

      span {
        color: #000;
        font-size: 1.09rem;
        font-weight: 600;
        letter-spacing: 0.03rem;
      }
    }
  }
}
 
.idSelectedKeywordContainer {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  margin-top: 0.3rem;
}

@media screen and (min-width: 1080px) {
  .idSelectedKeywordContainer {
    padding-left: 7rem;
    width: 40%;
    margin: 0.3rem auto;
  }
}