.shWrapper {
  height: 100%;
  margin: 2.53rem 3.34rem 0 3.766rem;

  .shTitle {
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 1.75rem;
      font-weight: 900;
      color: #9C76AC;
      text-align: center;
      line-height: 2.5rem;
      text-wrap: nowrap;
    }
  }

  .shContentBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .shContentTitle {
      width: 12.73rem;
      height: 1.83rem;
      background-color: #9C76AC;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center; 

      span {
        font-size: 1.37rem;
        font-weight: 700;
        line-height: 87%;
        color: #FFF;
        text-align: center;
      }
    }

    .shContent {
      margin-top: 0.35rem;
      width: 91%;
      border: 6px solid #9C76AC;
      display: flex;
      justify-content: center;
      flex-direction: column;
      aspect-ratio: 47.63 / 63.06;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

      }
    }
  }

  .shFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.1rem;
    margin-bottom: env(safe-area-inset-right);

    .shButton {
      width: 16rem;
      border-radius: 2.534rem;
      aspect-ratio: 45.71713 / 7.23931;

      span {
        font-size: 1.05rem;
        color: #FFF;
        text-align: center;
        font-weight: 600;
        letter-spacing: 0.105rem;
        line-height: 2.05rem;
      }
    }
    
    .shFooterText {
      padding-top: 0.6rem;
      padding-bottom: 1.75rem;

      span {
        font-size: 0.875rem;
        font-weight: 700;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
  }
}

@media screen and (min-width: 230px) {
  .shFooterText {
    span {
    }
  }
}

@media screen and (min-width: 768px) {
  .shContent {
    width: 15rem !important; 
  }
};
