.rsContainer{
  width: 100%;

  .rsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}

// Section One
.rsSectionOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;

  .rsSectionOneTitle {
    margin-top: 1.87rem;

    span {
      color: #000;
      font-weight: 700;
      font-size: 1.04rem;
      letter-spacing: 0.06rem;
    }
  }

  .rsSectionOneSubTitle {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .rsSectionOneSubTitleTop {
      display: flex;
      justify-content: center;
      
      .rsosPurple {
        text-transform: uppercase;
        color: #9C76AC;
        font-weight: 600;
        font-size: 0.88rem;
        letter-spacing: 0.04rem;
      }

      .rsosBlack {
        color: #6C6C6C;
        font-weight: 600;
        font-size: 0.88rem;
        letter-spacing: 0.04rem;
      }
    }

    .rsSectionOneSubTitleBottom {
      display: flex;
      justify-content: center;
      margin-top: 0.4rem;

      .rsosBold {
        color: #272727;
        font-weight: 700;
        font-size: 0.84rem;
        letter-spacing: 0.04rem;
      }
      
      .rsosGray {
        color: #6C6C6C;
        font-weight: 500;
        font-size: 0.84rem;
        letter-spacing: 0.04rem;
      }
    }
  }

  .rsSectionOneRange {
    width: 17rem;

    .percentChart {
      width: 100%;
      margin-top: 1.7rem;

      .percentArrow {
        height: fit-content;
        width: fit-content;
        position: absolute;
        margin-top: -1.5rem;
        z-index: 10;
        display: flex;
        flex-direction: column;

        span {
          color: #000;
          font-weight: 800;
          font-size: 0.5rem;
          margin-left: -0.1rem;
          text-align: center;
        }
      }

      .percentRange {
        width: 17rem;
        position: relative;
        height: 0.4rem;
        border-radius: 1rem;
        background: linear-gradient(90deg, #855D96 6.65%, #C2ABCF 57.8%, #F6E1FF 93.35%);
      }
    }
  }

  .rsSectionOneResultBox {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .rsSectionOneResultTitle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .rsorResultTitle {
        color: #9465B0;
        text-align: center;
        font-weight: 700;
        font-size: 0.99rem;
        letter-spacing: 0.06rem;
      }

      .rsorResultSubTitle {
        padding-top: 0.6rem;
        color: #989898;
        text-align: center;
        font-weight: 500;
        font-size: 0.68rem;
        line-height: 0.9rem;
        letter-spacing: 0.03rem;
      }
    }

    .rsSectionOneResultKeywordBox {
      margin: 0.8rem 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .rsor
       {
        padding: 0.35rem 1rem;
        margin: 0.8rem 0.3rem 0;
        margin-top: 0.8rem;
        width: fit-content;
        border: 1px solid #9965B8;
        border-radius: 2.5rem;

        display: flex;
        justify-content: center;
        align-items: center;

        span {
          color: #2D2D2D;
          font-weight: 600;
          font-size: 0.7rem;
          letter-spacing: 0.0002rem;
        }
      }
    }
  }
}

// Section Two
.rsSectionTwo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .rsSectionTwoTitle {
    width: 90%;
    display: flex;
    margin-left: 1.5rem;

    span {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1rem;
      letter-spacing: 0.06rem;
    }
  }

  .rsSectionTwoLink {
    width: 90%;
    display: flex;
    justify-content: right;

    span {
      color: #979797;
      font-weight: 400;
      font-size: 0.7rem;
    }
  }
}

.rsSectionTwoGraphWrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;

  .rsSectionTwoGraphBox {
    margin-left: 0.5rem;
    width: 98%;
    box-shadow: 2rem 2rem 10rem 0 rgba(0, 0, 0, 0.08);
    border-radius: 1rem;

    .rsSectionTwoGraph {
      margin-right: 1.7rem;
      margin-bottom: 0.8rem;
      display: grid;
      grid-template-columns: 0.5fr 1fr 1fr;
      grid-template-rows: 1fr 3.47fr 3.47fr;
      grid-template-areas: 
        ". colHeadOne colHeadTwo"
        "rowHeadOne contentBox contentBox"
        "rowHeadTwo contentBox contentBox"
      ;

      .colHeadOne {
        height: 2.4rem;
        grid-area: colHeadOne;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          color: #9C76AC;
          font-weight: 800;
          font-size: 0.6rem;
          letter-spacing: 0.04rem;
        }
      }
      
      .colHeadTwo {
        height: 2.4rem;
        grid-area: colHeadTwo;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          color: #9C76AC;
          font-weight: 800;
          font-size: 0.6rem;
          letter-spacing: 0.04rem;
        }
      }

      .rowHeadOne {
        grid-area: rowHeadOne;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          text-align: center;
          color: #BF889C;
          font-weight: 800;
          font-size: 0.6rem;
          letter-spacing: 0.04rem;
          line-height: 0.93rem;
        }
      }

      .rowHeadTwo {
        grid-area: rowHeadTwo;
        display: flex;
        justify-content: center;
        align-items: center;
        
        span {
          text-align: center;
          color: #BF889C;
          font-weight: 800;
          font-size: 0.6rem;
          letter-spacing: 0.04rem;
          line-height: 0.93rem;
        }
      }

      .contentBox {
        grid-area: contentBox;
        display: grid;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        background: linear-gradient(180deg, #F1F1F1 0%, #F5F5F5 100%);
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);

        .content {
          width: 100%;
          height: 100%;
          border: 1px dashed #FFF;
          justify-content: center;
          align-items: center;
          display: flex;
          flex-direction: column;
          
          .keyword {
            width: 5.7rem;
            min-height: 1rem;
            border: none;
            border-radius: 1rem;
            margin: 0.3rem 0;
            padding: 0.1rem 0.2rem;
            background-color: #FFF;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
              color: #000;
              text-align: center;
              font-weight: 600;
              font-size: 0.66rem;
            }
          }
        }
      }
    }
  }
}

.rsSectionKeywordModal {
  max-height: fit-content;
  height: 7.6rem;

  .keywordModalWrapper {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    border-radius: 0.56rem;
    border: 2px solid #9C76AC;
    padding: 0.66rem 0.36rem 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .keywordModalContentBox {
      margin-right: -1.46rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;

      .keywordModalTitle {
        display: flex;
        justify-content: center;
        width: 100%;
  
        .keywordModalSelectedKeyword {
          width: 4.95rem;
          height: 1.076rem;
          border: 2px solid #9C76AC;
          border-radius: 2.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.1rem 0.2rem;
  
          span {
            color: #000;
            font-size: 0.62rem;
            font-weight: 600; 
            letter-spacing: 0.004rem;
          }
        }
      } 
      .keywordModalContent {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 0.63rem;
        
        .totalNumOfSelectedKeyword {
          color: #8753A5;
          font-weight: 700;
          font-size: 0.66rem;
          letter-spacing: 0.033rem;
        }

        .unknownNum {
          margin-top: 0.33rem;
          color: #878787;
          font-weight: 600;
          font-size: 0.58rem;
        }

        .selectedKeywordResponders {
          margin-top: 0.5rem;
          display: flex;
          flex-direction: column;
          align-items: center;

          span {
            color: #292929;
            font-size: 0.51rem;
            font-weight: 700;
            letter-spacing: 0.025rem;
            line-height: 0.8rem;
          }
        }
      }
    }
    .exitBtn {
      height: 100%;
      display: flex;
      justify-content: start;
      margin-right: 0.66rem;

      img {
        width: 0.8rem;
        height: 0.8rem;
      }
    }
  }
}

// Section Three

.rsSectionThree {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;

  .rsSectionThreeTitle {
    width: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0.8rem 0;
    padding: 1.3rem 0;
    
    .rsSectionThreeTitleText {
      margin-left: 1rem;
      
      .titlePurple {
        text-transform: uppercase;
        color: #A570C4;
        font-weight: 600;
        font-size: 1rem;
        letter-spacing: 0.04rem;
      }

      .titleBlack {
        color: #000;
        font-weight: 600;
        font-size: 1rem;
        letter-spacing: 0.04rem;
      }
    }

    .rsSectionThreeDetail {
      margin-right: 1rem;

      span {
        color: #979797;
        text-align: center;
        font-weight: 400;
        font-size: 0.7rem;
        letter-spacing: 0.04rem;
      }
    }
  }

  .rsSectionThreeContent {
    background-color: #FFF;
    width: 100%;
    padding-bottom: 2rem;

    .rsSectionThreeContentTitle {
      display: flex;
      justify-content: center;
      align-items: center;

      .titlePurple {
        color: #A570C4;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1rem;
        letter-spacing: 0.08rem;
      }

      .titleBlack {
        color: #000;
        font-weight: 600;
        font-size: 1rem;
        letter-spacing: 0.1rem;
      }
    }

    .rsSectionThreeSpin {
      margin: 1rem 0 1.3rem;
      width: 100%;
    }
    
  }
}

//Result Detail
.rdContainer {
  width: 100%;
}

.rdWrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .rdTop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1.93rem;

    .rdTopTitle {
      width: 100%;

      .rdMainTitle {
        display: flex;
        justify-content: center;

        span {
          text-align: center;
          color: transparent;
          font-weight: 700;
          font-size: 1.8rem;
          letter-spacing: 0.05rem ;
          background: linear-gradient(90deg, #B698C2 0%, #946FA3 48.5%, #C6A5D4 100%);
          background-clip: text;
          -webkit-background-clip: text;
        }
      }

      .rdSubTitle {
        padding-top: 0.3rem;
        display: flex;
        justify-content: center;

        span {
          color: #1C1C1C;
          font-weight: 600;
          font-size: 1.05rem;
          letter-spacing: 0.03rem;
        }
      }
    }
    .rdImgBox {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: -2.8rem;

      img {  
        width: 60%;
        height: auto;
      }
    }

    .rdHashTagBox {
      width: 100%;
      margin-top: -1.85rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .rdHashTagTop {
        display: flex;
        justify-content: center;

        span {
          color: #83568A;
          font-weight: 700;
          font-size: 0.85rem;
          text-align: center;
          letter-spacing: 0.03rem;
          padding: 0 1.3rem;
        }
      }

      .rdHashTagBottom {
        padding-top: 0.5rem;
        width: 100%;
        display: flex;
        justify-content: center;

        span {
          color: #83568A;
          font-weight: 700;
          font-size: 0.85rem;
          text-align: center;
          letter-spacing: 0.03rem;
          padding: 0 0.9rem;
        }
      }
    }
  }

  .rdMiddle {
    margin-top: 1.7rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .rangeMZ {
      meter {
        width: 14rem;
        height: 1.9rem;
        margin: -0.34rem 0.7rem 1rem;

        &::-webkit-meter-bar {
          background-color: #E2E2E2;
          border: none;
        }

        &::-webkit-meter-optimum-value {
          background: #9F79AF;
        }
      }
    }

    .rangeTP {
      meter {
        width: 14rem;
        height: 1.9rem;
        margin: 0 0.7rem;

        &::-webkit-meter-bar {
          background-color: #4988AC;
          border: none;
        }

        &::-webkit-meter-optimum-value {
          background: #9DD8F9;
        }
      }
    }

    .rangeRC {      
      meter {
        width: 14rem;
        height: 1.9rem;
        margin: 0 0.7rem;

        &::-webkit-meter-bar {
          background-color: #FD974E;
          border: none;
        }

        &::-webkit-meter-optimum-value {
          background: #FFC773;
        }
      }
    }

    .rangeOS {     
      meter {
        width: 14rem;
        height: 1.9rem;
        margin: 0 0.7rem;

        &::-webkit-meter-bar {
          background-color: #A0513F;
          border: none;
        }

        &::-webkit-meter-optimum-value {
          background: #FF7A5D;
        }
      }
    }
  }

  // Result Detail Section One Bottom

  .rdBottom {
    margin-top: 2.7rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    .rdBottomTitle {
      height: 3rem;
      background: linear-gradient(90deg, #CCAFD9 0%, #A46AAD 51.5%, #CCAFD9 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      
      span {
        color: #FFF;
        font-weight: 500;
        font-size: 1.22rem;
        letter-spacing: 0.08rem;
      }
    }

    .rdBottomContentWrapper {
      background-color: #FFF;
      display: flex;
      justify-content: center;
      align-items: center;

      .rdBottomContentBox {
        margin: 1.5rem 2.2rem;
        background-color: #F5F5F5;
        border-radius: 1rem;
        padding: 0 2rem 1.5rem;
        display: flex;
        flex-direction: column;

        span {
          color: #000;
          font-weight: 700;
          font-size: 0.69rem;
          text-align: center;
          letter-spacing: 0.03rem;
          line-height: 1.24rem;
        }
      }
    }
  }
}

// Result Detail Section Two
.rdSectionTwoContainer {
  width: 100vw;
  height: fit-content;

  .rdSectionTwo {
    margin: 1.2rem 1.53rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rdSectionTwoTitle {
    width: 100%;
  
    .rdSectionTwoTitleTop {
      display: flex;
      justify-content: flex-start;
      
      span {
        color: #000;
        font-weight: 600;
        font-size: 0.825rem;
        font-weight: 600;
      }
    }
  
    .rdSectionTwoTitleBottom {
      display: flex;
      justify-content: flex-start;
      margin-top: 0.96rem;
  
      span {
        color: #9C76AC;
        font-weight: 600;
        font-size: 0.825rem;
      }
    }
  }
  
  .rdSectionTwoContent {
    margin-top: 1.18rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    .rdSectionTwoContentSwiper {
      width: 100%;

      .rdSectionTwoContentBox {
        display: flex;
        margin-bottom: 0.95rem;
        justify-content: center;
        flex-direction: column;

        button {
          margin: 0 0.33rem;
          width: 0.95rem;
          height: 0.95rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        
        img {
          width: 0.95rem;
          height: 0.95rem;
        }
        
        .rdSectionTwoKeyword {
          width: fit-content;
          height: 1.53rem;
          border: 2px solid #9C76AC;
          border-radius: 2.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.038rem 0.74rem;
  
          span {
            color: #9C76AC;
            font-weight: 600; 
            font-size: 0.7rem;
            letter-spacing: 0.03rem;
          }
        }

        .rdSectionTwoCountBox {
          margin-left: 0.66rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          span {
            color: #000;
            text-align: center;
            font-weight: 600;
            font-size: 0.618rem;
            line-height: 0.82rem;
          }
        }
      }
      .swiper-pagination {
        position: relative;
        margin-top: 1.2rem;
        height: 1.54rem;
        width: 55%;
        left: 20%;
        border-radius: 2.5rem;
        background: linear-gradient(180deg, #F1F1F1 -19.42%, #F9F9F9 144.63%);
        display: flex;
        justify-content: center;
        align-items: center;
        
        span {
          color: #B5B4B4;
          font-weight: 800;
          font-size: 0.5rem;
          text-align: center;
        }
      }

      .swiper-pagination-bullet {
        width: 0.5rem !important;
        height: 0.5rem !important;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      .swiper-pagination-bullet-active {
        background-color: #9C76AC;
        color: #FFF !important;
        font-weight: 800 !important;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .rdSectionTwoBtnBox {
      display: flex;

      align-items: center;
    }
  }
}

.rdSectionTwoOneLineBox {
  display: none;
}

.rdSectionTwoOneLineBoxActive {
  width: 90%;
  height: fit-content;
  display: flex;
  margin-top: 1.83rem;
  margin-bottom: 2.37rem;
  flex-direction: column;
  background-color: #F6F6F6;
  border-radius: 0.825rem;

  .rdSectionTwoOneLine {
    margin: 0.44rem 0.66rem 2rem;

    span {
      color: #A570C4;
      font-size: 0.66rem;
      font-weight: 700;
    }
    
    .rdSectionTwoOneLineText {
      margin-top: 0.3rem;
      background-color: #FFF;
      border-radius: 0.618rem;
      width: 90%;  
      padding: 0.72rem 0;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        color: #000;
        text-align: center;
        font-weight: 500;
        font-size: 0.74rem;
      }
    }
  }
  
}

.swiper-pagination-bullet-active {
  background: #9C76AC;
  color: #FFF;
}

// Result Detail Section Three

.rdSectionThreeContainer {
  margin: 2.18rem 0 2rem;
  width: 100vw;

  .rdSectionThreeWrapper{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .rdSectionThreeTitle {
      display: flex;
      width: 100%;
      margin-left: 2.87rem;

      span {
        color: #000;
        text-align: center;
        font-weight: 600;
        font-size: 0.825rem;
        letter-spacing: 0.04rem;
      }
    }

    .rdSectionThreeContent {
      width: 100svw;
      margin-top: 0.74rem;
      
      .rdSectionThreeContentTitleWrapper {
        width: 100%;
        height: 2.24rem;
        background: linear-gradient(90deg, #CCAFD9 0%, #A46AAD 51.5%, #CCAFD9 100%);
        display: flex;
        
        .rdSectionThreeContentTitle {
          width: 100%;
          height: 100%;
          padding-left: 1.8rem;
          align-items: center;
          display: grid;
          gap: 0.5rem;
          grid-template-columns: 1fr 1fr 3fr;

          .contentTitleName {
            width: 3rem;
          }
          
          span {
            color: #FFF;
            font-weight: 700;
            font-size: 0.618rem;
            letter-spacing: 0.03rem;
            text-align: center;
          }
        }
      }

      .rdSectionThreeSwiper {
        height: 17.14rem;
        width: 100%;

        .rdSectionThreeSwiperSlide {
          height: 14.76rem;
          width: 100% !important;
          display: grid;
          grid-template-rows: repeat(5, 1fr);
  
          .rdSectionThreeSwiperSlideContentBox {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #EAEAEA;

            .rdSectionThreeSwiperSlideContent {
              width: 100%;
              padding-left: 1.8rem;
              display: grid;
              grid-template-columns: 1fr 1fr 3fr;
              align-items: center;

              .contentTitle {
                width: 3rem;               
              }
  
              span {
                color: #000;
                font-weight: 500;
                font-size: 0.618rem;
                letter-spacing: 0.03rem;
                text-align: center;
              }
            }
          }
        }

        .swiper-pagination {
          background: linear-gradient(180deg, #F1F1F1 -19.42%, #F9F9F9 144.63%);
          border-radius: 2.5rem;
          left: 22.5%;
          width: 55%;
          height: 1.8rem;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: -0.5rem;
      
          span {
            color: #B5B4B4;
            font-weight: 700;
            font-size: 0.5rem !important;
            text-align: center;
          }

          .swiper-pagination-bullet {
            width: 0.5rem !important;
            height: 0.5rem !important;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #d9d9d9;
            color: #B5B4B4;
          }

          .swiper-pagination-bullet-active {
            background: #9C76AC;
            color: #FFF;
            text-align: center;
          }
        }           
      }
    }
  }
}

.rangeDisplay {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 1rem;

  .rangeSpan {
    display: flex;
    flex-direction: column;

    .rangeLabel {
      color: #322A33;
      font-weight: 600;
      font-size: 0.675rem;
      text-align: center;
      line-height: 1.1rem;
    }

    .rangeValue {
      padding-top: 0.2rem;     
      color: #ABABAB;
      font-weight: 600;
      font-size: 0.56rem;
      text-align: center;
    }
  }
}

@media screen and (min-width: 1000px) {
  .rdSectionThree {
    width: 40% !important;
  }

  .rsorKeyword {
    margin: 0 0.5rem !important;
  }
}

@media screen and (max-width: 300px) {
  meter {
    width: 10rem !important;
  }

  .rsSectionOneRange {
    width: 15rem !important;
  } 
}

// Result Static
.rstContainer {
  width: 100vw;
  height: 100vh;
  display: grid !important;
  grid-template-rows: 1fr 1fr;

  .rstWrapper {
    height: 100%;
  }
}

// Result Static Section One
.rstSectionOneWrapper {
  width: 100%;
  height: 35.475rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .rstSectionOneTitleBox {
    margin: 2.1rem 0 1.32rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .rstSectionOneTitle {
      color: #7A7A7A;
      font-weight: 600;
      font-size: 0.825rem;   
    }

    .rstSectionOneSubTitle {
      margin-top: 0.3rem;
      background: linear-gradient(90deg, #B698C2 0%, #946FA3 48.5%, #C6A5D4 100%);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;

      font-weight: 700;
      font-size: 2.64rem;
      letter-spacing: 0.132;
    }
  }

  .rstSectionOneContentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .rstSectionOneContentBox {
      background-color: #F8F8F8;
      width: 83%;
      border-radius: 0.41rem;
      margin-bottom: 0.64rem;

      span {
        color: #000;
        text-align: center;
      }
    }

    .rstGenderBox {
      height: 4.74rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .rstGender{
      display: flex;
      width: 54%;
      justify-content: space-around;

      .rstFemale {
        display: flex;
        flex-direction: column;

        img {
          width: 2.06rem;
        }

        span {
          color: #000;
          text-align: center;
          font-size: 0.7rem;
          font-weight: 600;
        }
      }

      .rstMale {
        display: flex;
        flex-direction: column;

        img {
          width: 2.08rem;
        }

        span {
          color: #000;
          text-align: center;
          font-size: 0.7rem;
          font-weight: 600;
        }
      }
    }

    .rstRelationBox {
      height: 4.74rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .rstRelation {
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .rstRelationContent {
          display: flex;
          flex-direction: column;
          justify-content: center;

          .rstImgWrapper {
            width: 2.58rem;
            height: 2.58rem;

            img {
              object-fit: contain;
              width: 2.58rem;
            }
          }

          span {
            color: #000;
            text-align: center;
            font-size: 0.7rem;
            font-weight: 600;
          }
        }
      }
    }
    .rstUnknownBox {
      height: 4.66rem;
      display: flex;
      align-items: center;
      justify-content: center;

      .rstUnknown {
        margin: 0 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 2.41rem;
          margin-top: -0.7rem;
        }

        span {
          color: #000;
          font-size: 0.66rem;
          font-weight: 600;
          text-align: center;
          margin-left: 0.99rem;
        }
      }
    }

    .rstChartBox {
      height: 8.91rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .rstChartTitle {
        display: flex;
        justify-content: center;
        margin: 0.89rem 0 0.3rem;
        
        span {
          color: #919191;
          text-align: center;
          font-size: 0.58rem;
          font-weight: 500;
          letter-spacing: 0.03rem;
        }
      }

      .rstChart {
        width: 12.13rem;
        height: 6.6rem;
        display: flex;
        justify-content: center;

        color: #342E4A;
        text-align: center;
        font-size: 0.7rem;
        font-weight: 600;
      }
    }
  }
}

// Result Static Section Two

.rstSectionTwoContainer {
  width: 100%;

  .rstSectionTwoTitleWrapper {
    width: 100%;
    height: 2.25rem;
    background: linear-gradient(90deg, #CCAFD9 0%, #A46AAD 51.5%, #CCAFD9 100%);
    display: flex;

    .rstSectionTwoTitle {
      width: 100%;
      height: 100%;
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr 1.2fr 1.2fr;

      span {
        color: #FFF;
        text-align: center;
        font-size: 0.62rem;
        font-weight: 700;
        letter-spacing: 0.03rem;
      }
    }
  }

  .rstSectionTwoSwiper {
    width: 100%;
    height: 17.8rem;

    .rstSectionTwoSwiperSlide {
      width: 100% !important;
      height: 14.76rem;
      display: grid;
      grid-template-rows: repeat(5, 1fr);

      .rstSectionTwoContentBox {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #EAEAEA;

        .rstSectionTwoContentWrapper {
          width: 100%;
          align-items: center;
          justify-content: center;
          display: grid;
          grid-template-columns: 1fr 1fr 1.2fr 1.2fr;
          
          span {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000;
            text-align: center;
            font-size: 0.62rem;
            font-weight: 500;
            letter-spacing: 0.03rem; 
          }
        }
      }
    }

    .swiper-pagination {
      height: 2.8rem;
      width: 100%;
      background: linear-gradient(180deg, #F1F1F1 -19.42%, #F9F9F9 144.63%);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-pagination-bullet-active {
      background-color: #9C76AC;
    }
  }
}

// Slider

.swiperContainer {
  width: 100%;
  height: 14rem;
  display: grid !important;
  grid-template-rows: 0.72fr 0.72fr 1fr 0.72fr 0.72fr;

  .swiperSlide {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: background 0.3 ease;

    .swiperSlideText {
      line-height: 0.8rem;
      color: #000;
      font-size: 0.84rem;
      font-weight: 600;
      transition: font-size 0.3s ease-in, color 0.3s ease-in;
    }    
  }
  .swiper-slide-prev, .swiper-slide-next {
     .swiperSlideText {
      font-size: 0.98rem;     
    }
  }

  .swiper-slide-prev {
    .swiperSlideText {
      margin-top: -0.3rem;
    }
  }

  .swiper-slide-next {
    .swiperSlideText {
      margin-top: 0.5rem;
    }
  }

  .swiper-slide-active {
    height: 3.2rem;

    .swiperSlideText {
      color: #FFF;
      font-weight: 700;
      font-size: 1.1rem;
      letter-spacing: 0.05rem;
    }
  }
}

.swiperBox {
  width: 100%;
  height: 14rem;
  margin-top: -14rem;
  display: grid !important;
  grid-template-rows: 0.72fr 0.72fr 1fr 0.72fr 0.72fr;
  border: none;
  z-index: -2;

  .swiperBox1, .swiperBox5 {
    background-color: #F6F6F6;
  }

  .swiperBox2, .swiperBox4 {
    background-color: #E9E9E9;
  }

  .swiperBox3 {
    background: linear-gradient(90deg, #9C76AC 5.29%, #9C76AC 5.3%, #B695C5 51.39%, #9C76AC 94.8%);
  }
}