{% macro footer_header()  %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css')  }}">
{% endmacro %}

{% macro footer_content() %}
  <footer id="footer">
    <div class="footer-container">
      <div class="footer-left">
        <div class="footer-logo">
          <div class="footer-logo-img">
            <img src="/static/images/footer_logo.svg">
          </div>
          <div class="footer-logo-typo">
            <img src="/static/images/footer_typo.svg">
          </div>
        </div>
        <div class="footer-left-text">
          <ul>
            <li>이용약관 &nbsp;|&nbsp;</li>
            <li><b>개인정보처리방침</b>&nbsp;|&nbsp;</li>
            <li>사업자정보 확인</li>
          </ul>
        </div>
      </div>
      <div class="footer-right">
        <div class="footer-right-content">
          <div class="footer-right-content-top">
            <a>메타세콰이어(Meta Sequoia Inc.)&nbsp;|&nbsp;대표 이유빈
            <br>
            사업자등록번호 733-86-01947&nbsp;|&nbsp;통신판매업신고:제2023-대구oo구-0672호
            <br>
            본사: 경기도 수성구 용학로50길 27, 493호 (자산동)
            <br>
            문의처:help@40fycorp.com&nbsp;|&nbsp;카카오 채널 "더쉬프트" 검색 후 1:1 문의 
            </a>
          </div>
          <div class="footer-right-content-bottom">
            <a>Copyright ⓒ Meta Sequoia Inc. All rights reserved.</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
{% endmacro %}
