{% extends "base.html" %}
{% from 'navbar.html' import navbar_header, navbar_content with context %}
{% from 'sidebar.html' import sidebar_header, sidebar_content with context %}
{% from 'footer.html' import footer_header, footer_content with context %}

{% block head %}
    {{ super() }}
    {# stylesheets have internal error, so blocked temporay #}
    {#{{ navbar_header() }} {{ sidebar_header() }} {{ footer_header() }} #}
    <link rel='stylesheet' type='text/css' media='screen' href='{{ url_for('static', filename='css/style.css') }}'>
{% endblock %}

{% block title %}Social Login{% endblock %}

{% block header %}
    {{ navbar_content() }}
{% endblock %}

{% block content %}
    {{ sidebar_content() }}
    <div class="social-login">
        <h1>Social Login</h1>
        <p>Please choose a social platform to log in:</p>
        <a href="/kakao_login"><img src="https://developers.kakao.com/tool/resource/static/img/button/login/full/ko/kakao_login_medium_narrow.png" alt="Kakao login" width="183" height="45"/></a>
        <a href="/naver_login"><img src="https://static.nid.naver.com/oauth/big_g.PNG" alt="Naver login" width="183" height="45"/></a>
        <a href="/google_login"><img src="https://developers.google.com/static/identity/images/btn_google_signin_light_normal_web.png?hl=ko" alt="Google login" width="191" height="46"/></a>
    </div>
{% endblock %}

{% block footer %}
    {{ footer_content() }}
{% endblock %}
