<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/style.css'>
    <title>Social Login</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Social Login</h1>
    <p>Please choose a social platform to log in:</p>
    <a href="/kakao_login"><img src="https://developers.kakao.com/tool/resource/static/img/button/login/simple/ko/kakao_login_medium.png" alt="Kakao login"></a>
    <a href="/naver_login"><img src="https://static.nid.naver.com/oauth/big_g.PNG" alt="Naver login"></a>
    <a href="/google_login"><img src="" alt="Google login"></a>
    {% include 'sidebar.html' %}
    {% include 'footer.html' %}
</body>
</html>
