{% macro sidebar_header() %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
{% endmacro %}

{% macro sidebar_content() %}
  <section class="sidebar">
    <section class="sidebar-container">
      <!-- header -->
      <div class="sidebar-header">
        <div class="sidebar-header-contents">
          <!-- 이미지 교체 예정 -->
          <img src="/static/images/SD.png">
          <div class="sidebar-header-contents-title">
            <a>Self-definition 자기정의</a>
          </div>
        </div>
      </div>
      <!-- // header -->
      <!-- subtitle -->
      <!-- swiper main container -->
      <div class="swiper">
        <div class="swiper-wrapper">
          <!-- Self-questioning -->
          <ul class="swiper-slide">
            <li class="subtitle">
              <img>
              <a>MBTI 성격 분석</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
{% endmacro %}
