.rdbbContainer {
  width: 19rem;
  height: 10.3rem;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  border-radius: 1.3rem;

  .rdbbWrapper {
    padding: 1.8rem 2rem;

    .rdbbContentWrapper {
      display: flex;
      justify-content: space-between;

      .rdbbContentLeft {
        display: flex;
        flex-direction: column;

        .rdbbContentTitle {
          color: #9B76AB;
          text-align: center;
          font-size: 0.85rem;
          font-weight: 700;
          letter-spacing: 0.07rem;
        }
      }

      .rdbbContentSubTitle {
        margin-top: 2.5rem;

        span {
          color: #EFEFEF;
          font-weight: 700;
          font-size: 0.85rem;
        }
      }
      .rdbbContentRight {
        display: flex;

        img {
          width: 3.2rem;
          height: auto;
        }
      }
    }

    .rdbbBoxBtnWrapper {
      margin-top: 0.4rem;
      display: flex;
      justify-content: space-between;

      .rdbbPurpleBtn {
        border-radius: 3rem;

        span {
          color: #FFF;
          font-weight: 700;
          font-size: 0.7rem;
          letter-spacing: 0.09rem;
          text-align: center;
        }
      }

      .rdbbWhiteBtn {
        border-radius: 3rem;
        
        span {
          color: #FFF;
          font-weight: 700;
          font-size: 0.7rem;
          letter-spacing: 0.09rem;
          text-align: center;
        }
      }
    }
  }
}

.preContainer {
  width: 19rem;
  height: 10.3rem;
  background-color: #FFF;
  border-radius: 1.3rem;
  
  .preWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .preImg {
      padding-top: 1.8rem;

      img {
        width: 7.5rem;
        height: auto;
      }
    }

    .preSpan {
      margin-top: 0.6rem;

      span {
        color: #B5B5B5;
        font-weight: 700;
        font-size: 0.7rem;
        letter-spacing: 0.05rem;
      }
    }
  }
}