.rdbbWrapper {
  width: 19rem;
  height: 10.3rem;
  display: flex;
  flex-direction: column;

  background-color: #FFF;
  border-radius: 1.3rem;

  .rdbbContentWrapper {
    
  }
}

.preContainer {
  width: 19rem;
  height: 10.3rem;
  background-color: #FFF;
  border-radius: 1.3rem;
  
  .preWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .preImg {
      padding-top: 1.8rem;

      img {
        width: 7.5rem;
        height: auto;
      }
    }

    .preSpan {
      margin-top: 0.6rem;

      span {
        color: #B5B5B5;
        font-weight: 700;
        font-size: 0.7rem;
        letter-spacing: 0.05rem;
      }
    }
  }
}