<!-- 추후에 화면에 딱 차게 수정하기 -->
<!-- alert 모달로 수정하기? -->
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SHIFT</title>
  <link rel="stylesheet" href="../../../../static/css/SD.css">
  <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/SD.css')}}"/> -->
</head>
<body>
  <!-- {% include 'SD-header.html' %} -->
  <div class="SD-container">
    <div class="SD-header">
      <div class="SD-main-title">
        <p>Self-questioning: 성격 </p>
      </div>
      <div class="SD-subtitle">
        <!-- {% if 페이지 진행률 100% 일 때 %} -->
        <img id="progressCheck" src="../../../../static/images/course_complete.svg" style="display: none;">
        <!-- <img src="{{ url_for('static'), filename="images/course_complete.svg") }}" -->
        <!-- {% else} -->
        <img id="progressCheck" src="../../../../static/images/course_ing.svg" >
        <!-- <img src="{{ url_for('static'), filename="images/course_ing.svg") }}" -->
        <p>Myers-Briggs Type Indicator(MBTI)</p>
      </div>
    </div>
    <div class="SD-content">
      <!-- 각 mbti를 클릭하면 BE에 데이터 전달(2개) -->
      <div class="mbti-box">
        <button class="mbti mbti-ENFP"><p>ENFP</p></button>
        <button class="mbti mbti-ESFP"><p>ESFP</p></button>
        <button class="mbti mbti-INFP"><p>INFP</p></button>
        <button class="mbti mbti-ISFP"><p>ISFP</p></button>
        <button class="mbti mbti-ENFJ"><p>ENFJ</p></button>
        <button class="mbti mbti-ESFJ"><p>ESFJ</p></button>
        <button class="mbti mbti-INFJ"><p>INFJ</p></button>
        <button class="mbti mbti-ISFJ"><p>ISFJ</p></button>
        <button class="mbti mbti-ENTP"><p>ENTP</p></button>
        <button class="mbti mbti-ESTP"><p>ESTP</p></button>
        <button class="mbti mbti-INTP"><p>INTP</p></button>
        <button class="mbti mbti-ISTP"><p>ISTP</p></button>
        <button class="mbti mbti-ENTJ"><p>ENTJ</p></button>
        <button class="mbti mbti-ESTJ"><p>ESTJ</p></button>
        <button class="mbti mbti-INTJ"><p>INTJ</p></button>
        <button class="mbti mbti-ISTJ"><p>ISTJ</p></button>
      </div>
    </div>
  </div>
  <!-- {% include 'footerHelp.html' %} -->
  <script src="../../../../static/js/SD.js"></script>
  <!-- <script src="{{url_for('static', filename='js/SD.js')}}"</script> -->
</body> 
</html> 