<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SHIFT</title>
  <link rel="stylesheet" href="../../../../static/css/SD.css">
  <script src="../../../../static/js/SD.js"></script>
</head>
<body>
  <!-- {% include 'SD-header.html' %} -->
  <div class="SD-container">
    <div class="SD-header">
      <div class="SD-main-title">
        <p>Self-questioning: 동기</p>
      </div>
      <div class="SD-subtitle"> 
        <!-- {% if 페이지 진행률 100% 일 때 %} -->
        <img id="progressCheck" src="../../../../static/images/course_complete.svg" style="display: none;">
        <!-- <img src="{{ url_for('static'), filename="images/course_complete.svg") }}" -->
        <!-- {% else} -->
        <img id="progressCheck" src="../../../../static/images/course_ing.svg" >
        <!-- <img src="{{ url_for('static'), filename="images/course_ing.svg") }}" -->
        <p>성공 실패 경험(자기 결정성)</p>
      </div>
    </div>
    <form>
      <div class="SD-content">
        <div class="motivation-box">
          <div class="success-experience">
            <div class="table-caption">
              <p>성공경험</p>
            </div>
            <table>
              <colgroup>
              <col style="width: 18.38rem">
              <col style="width: 27.5rem">
              <col style="width: 22.88rem">
              </colgroup>
              <thead>
                <tr>
                  <th>목표를 세우고 성공한 경험</th>
                  <th>목표를 세운 이유</th>
                  <th>외적 내적 동기</th>
                </tr>
              </thead>
              <tbody>
                <tr class="experience">
                  <td>
                    <input type="text" >
                  </td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
              </table>
          </div>

        </div>
      </div>
    </form>
  </div>
</body>
</html>