{% extends 'base.html' %}
{% from 'SD/SD-header.html' import SD_navbar_header, SD_navbar_content with context %}
{% from 'sidebar.html' import sidebar_header, sidebar_content with context %}
{% from 'footer.html' import footer_header, footer_content with context %}

{% block head %}
  {{ super() }}
  {{ SD_navbar_header() }} {{ sidebar_header() }} {{ footer_header() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/SD.css') }}">
{% endblock %}

{% block title %}Shift{% endblock %}

{% block header %}
  {{ SD_navbar_content() }}
{% endblock %}

{% block content %}
  {{ sidebar_content() }}
  <div class="SD-container">
    <div class="SD-header">
      <div class="SD-main-title">
        <p>Self-questioning: 성격 </p>
      </div>
      <div class="SD-subtitle">
	{# {% if page progress reach to 100% %} #}
	{# <img id="progressCheck" src="{{ url_for('static', filename='images/course_complete.svg') }}" style="display: none;"> #}
	{# {% else %} #}
	<img id="progressCheck" src="{{ url_for('static', filename='images/course_ing.svg') }}">
        <p>Myers-Briggs Type Indicator(MBTI)</p>
      </div>
    </div>
    <div class="SD-content">
      <!-- 각 mbti를 클릭하면 서버에 데이터 전달(2개) -->
      <div class="mbti-box">
        <button type="button" class="mbti mbti-ENFP"><p>ENFP</p></button>
        <button type="button" class="mbti mbti-ESFP"><p>ESFP</p></button>
        <button type="button" class="mbti mbti-INFP"><p>INFP</p></button>
        <button type="button" class="mbti mbti-ISFP"><p>ISFP</p></button>
        <button type="button" class="mbti mbti-ENFJ"><p>ENFJ</p></button>
        <button type="button" class="mbti mbti-ESFJ"><p>ESFJ</p></button>
        <button type="button" class="mbti mbti-INFJ"><p>INFJ</p></button>
        <button type="button" class="mbti mbti-ISFJ"><p>ISFJ</p></button>
        <button type="button" class="mbti mbti-ENTP"><p>ENTP</p></button>
        <button type="button" class="mbti mbti-ESTP"><p>ESTP</p></button>
        <button type="button" class="mbti mbti-INTP"><p>INTP</p></button>
        <button type="button" class="mbti mbti-ISTP"><p>ISTP</p></button>
        <button type="button" class="mbti mbti-ENTJ"><p>ENTJ</p></button>
        <button type="button" class="mbti mbti-ESTJ"><p>ESTJ</p></button>
        <button type="button" class="mbti mbti-INTJ"><p>INTJ</p></button>
        <button type="button" class="mbti mbti-ISTJ"><p>ISTJ</p></button>
      </div>
    </div>
  </div>
  {# {% include 'footerHelp.html' %} #}
  <button type="button" id="next">Next</button>
  <script src="{{ url_for('static', filename='js/SD.js') }}"></script>
{% endblock %}

{% block footer %}
  {{ footer_content() }}
{% endblock %}
